header{
    margin: 0 auto;
    padding: 38px 66px 57px 52px;
    
}
.logo{
    vertical-align: middle;
    margin-right: 64px;
}
nav{
    display: inline-block;
    vertical-align: middle;
}
li{
    display: inline-block;
    margin-right: 171px;
    color: #7f7f7f;
}
section{
    margin: 0 auto;
    background-color: #306b34;
    width: 1280px;
    padding: 174px 110px 152px 95px;
}
.photo{
    width: 679px;
    height: 453px;
    margin-right: 70px;
}
.div1{
    display: inline-block;
    width: 307px;
    height: 380px;
    vertical-align: top;
}
.h1{
    width: 255px;
    height: 30px;
    margin-bottom: 60px;
    font-size: 30px;
    color: #19381f;
}
.p1{
    width: 307px;
    height: 291px;
    font-size: 20px;
    font-style: italic;
    color: #f4f4f1;
}
article{
    padding: 130px 137px 150px 175px;
}
h2{
    text-align: center;
    font-size: 40px;
    color: #36413e;
    font-style: italic;
    margin-bottom: 70px;
}
.p2{
    font-style: italic;
    font-size: 20px;
    color: #7f7f7f;
    text-align: center;
}